HeaderFilterRegex: '.*[\/|\\]libvxr[\/|\\].*\.(hpp|inc)'
FormatStyle:       'file'
Checks: [
      bugprone*,
      clang-analyzer*,
      misc*,
      modernize*,
      performance*,
      readability*,
      portability-restrict-system-includes,

      -bugprone-easily-swappable-parameters,
      -clang-analyzer-optin*,
      -misc-non-private-member-variables-in-classes,
      -misc-use-anonymous-namespace,
      -modernize-concat-nested-namespaces,
      -modernize-deprecated-headers,
      -modernize-macro-to-enum,
      -modernize-use-trailing-return-type,
      -modernize-use-designated-initializers,
      -readability-avoid-unconditional-preprocessor-if,
      -readability-identifier-length,
      -readability-isolate-declaration,
      -readability-magic-numbers,
      -readability-named-parameter,
      -readability-uppercase-literal-suffix,
      -readability-use-anyofallof
]

CheckOptions:
      portability-restrict-system-includes.Includes: -*, *.h, -windows.h, new, type_traits, algorithm
      readability-function-cognitive-complexity.IgnoreMacros: true
      readability-identifier-naming.AggressiveDependentMemberLookup: true

      readability-identifier-naming.EnumConstantCase: camelBack
      readability-identifier-naming.ClassCase: camelBack
      readability-identifier-naming.FunctionCase: camelBack
      readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
      readability-identifier-naming.MemberCase: camelBack
      readability-identifier-naming.NamespaceCase: lower_case
      readability-identifier-naming.ParameterCase: camelBack
      readability-identifier-naming.TemplateParameterCase: CamelCase
      readability-identifier-naming.TypeAliasCase: camelBack
      readability-identifier-naming.VariableCase: camelBack

      readability-qualified-auto.AddConstToQualified: true
